usage: udpsvd [-hpv] [-u user] [-l name] [-i dir|-x cdb] [-t sec] host port prog

111
$Id: 4991b38bba93e925f0772eaf9b0b96f5788b009a $
usage: udpsvd [-hpv] [-u user] [-l name] [-i dir|-x cdb] [-t sec] host port prog

111
foo
bar
0
